<div class="row">
    <div class="col s12 m8">
        <h3>{{post.title}}
            <small>{{{editIcon post.user.id user.id post.id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-image">
                {{!-- <img src="https://cataas.com/cat" alt=""> --}}
                <img src="{{post.image}}" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">{{formatDate post.date 'MMM Do YYYY'}}</span>
                {{{post.body}}}
            </div>
        </div>
        <div class="row">
            {{#if post.allowComments}}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Comments</span>
                    {{#if user}}
                    <form action="/posts/comment/{{post.id}}" method="post">
                        <div class="input-field">
                            <textarea name="commentBody" class="materialize-textarea"></textarea>
                        </div>
                        <input type="submit" value="Add Comment" class="btn green" value="Submit">
                    </form>
                    {{else}}
                    <p>Please
                        <a href="/auth/google">login</a> to leave comments</p>
                    {{/if}}
                </div>
            </div>
            {{#each post.comments}}
            <div class="card">
                <div class="card-content">
                    <h5>{{commentBody}}</h5>
                    <div class="chip">
                        <img src="{{commentUser.image}}"> {{commentUser.firstName}} {{commentUser.lastName}}
                    </div>
                    <br>
                    <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
                </div>
            </div>
            {{/each}} {{/if}}
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{post.user.firstName}} {{post.user.lastName}}</span>
                <img src="{{post.user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="/posts/user/{{post.user.id}}">More from {{post.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>